.benefits {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits-wrapper {
    display: flex;
    align-items: center;
    gap: 31px;
    margin-top: 25px;
}

.benefits-data {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 55px;
    line-height: 129.7%;
}

.benefits-wrapper:nth-child(1) span {
    color: #FFB355;
  }
  
  .benefits-wrapper:nth-child(2) span {
    color: #27CAEA;
  }
  
  .benefits-benefits-descr {
    color: var(--color-body-secondary);
  }

  .benefits-right-container {
    background: #212326;
    border-radius: 31px;
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .benefits-img {
    width: 130px;
    background: #212326;
    border-radius: 31px;
  }

  .benefits-text {
    max-width: 235px;
    color: var(--color-body-secondary);
    text-align: center;
    margin-top: 15px;
  }

  .stars {
    width: 150px;
    display: block;
    margin: 0 auto;
  }


  @media (max-width: 1270px) {
    .benefits-data {
      font-size: 40px;
  }

  .benefits-img {
    width: 110px;
    background: #212326;
    border-radius: 31px;
  }

  .benefits-right-container {
    padding: 13px;
  }

  .stars {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  .benefits-wrapper {
    gap: 15px;
}

.benefits-text {
  max-width: 170px;
}

  }

  @media (max-width: 991px) {
    .benefits {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 80px;
  }

  }