tr {
    height: 80px;
    border-bottom: 1px solid #e5e7eb; 
    overflow: hidden;
}

.coin-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.coin-container p {
    text-decoration: underline;
}

img {
    width: 46px;
    margin-right: 20px;
    border-radius: 50%;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

@media (max-width: 991px) {
    .coin-container p, .volume, .market-cap {
        display: none;
    }
}