hr {
    margin-top: 50px;
}

.hero-home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.badge {
    background: #D3F4E4;
    border-radius: 31px;
    display: inline-block;
    padding: 4px 19px;
    text-transform: capitalize;
    color: #42B57E;
    margin-top: 122px;
}


.hero-home-header {
    max-width: 1000px;
    text-align: center;
    margin-top: 28px;
}

.hero-home-header span {
    background: linear-gradient(276.71deg, #25F6FF -15.41%, #7782FF 52.42%, #FF5196 107.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero-home-descr {
    max-width: 837px;
    text-align: center;
    color: var(--color-body-secondary);
    margin-top: 28px;
}

.hero-home .signup-link { 
    margin-top: 40px;
}




