.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
}

.logo-img {
    width: 40px; 
}

.pages-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.auth-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    font-family: var(--font-heading);
}

.navbar-page:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.signin-link {
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    border-radius: 89px;
    padding: 10px 30px;
    border:none;
}


.signup-link {
    background: linear-gradient(276.71deg, #25F6FF -15.41%, #7782FF 52.42%, #FF5196 107.79%);
    border-radius: 89px;
    padding: 10px 30px;
    border:none;
}

.signup-link:hover, .signin-link:hover {
    background-color: var(--color-primary-dark);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-icon {
    display: none;
}


.mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 120px;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.mobile.active {
  display: flex;
  transform: translateY(0);
}

.navbar-page.active {
  text-decoration: none;
  border-bottom: 2px solid #769fe7; /* add custom underline */
}


@media (max-width: 991px) {
    .pages-container,
    .auth-container {
      display: none;
    }
    
    .menu-icon {
      display: block;
      cursor: pointer;
    }
 
    .mobile.active {
        display: block;
    }

    .navigation-container {
      text-align: center;
    }

  .mobile li {
    margin-top: 25px;
  }

  .mobile li:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-link {
    margin-top: 20px;
  }
}


