@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --color-body-secondary: #797979; 
  --color-body-primary: #212326;
  --color-background: #F5F5F5;;
  --color-heading: #212326;
  --font-heading: 'Ubuntu'
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Typography */

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-body-primary);
  background: var(--color-background);
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

img {
  width: 100%;
  height: auto;
}

h1 {
font-weight: 700;
font-size: 70px;
line-height: 129.7%;
font-family: var(--font-heading);
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 129.7%;
}

